{% extends 'base_front.html.twig' %}

{% block title %}Liste des réclamations{% endblock %}

{% block Partie2 %} 
<div class="row">
<div class="row">
<div  style="display: flex;align-items: center;justify-content: center;margin-top: 80px; padding:25px; margin-left:10px;  ">


<div class="card-body">

    <h1>Liste des réclamations</h1>

    <link rel="stylesheet" href="{{ asset('assets2/css/style.css') }}">
    

<table class="table table-sm">
  <thead>
    <tr>
       <th scope="col">Référence</th>
      <th scope="col">Nom</th>
     <th scope="col">Prénom</th>
     <th scope="col">CIN</th>
    <th scope="col">Email</th>
    <th scope="col">Téléphone</th>
    <th scope="col">Note</th>
    <th scope="col">Date et heure </th>
     <th scope="col">Documents </th>
    <th scope="col">Statut </th>
    <th scope="col">Actions</th>
    </tr>
  </thead>
<tbody>
{% for reclamation in reclamations %}
    <tr>
        <td>{{ reclamation.reference }}</td>
        <td>{{ reclamation.nomD }}</td>
        <td>{{ reclamation.prenomD }}</td>
        <td>{{ reclamation.cin }}</td>
        <td>{{ reclamation.email }}</td>
        <td>{{ reclamation.tel }}</td>
        <td>{{ reclamation.commentaire }}</td>
        <td>{{ reclamation.CreatedAt|date('Y-m-d H:i') }}</td>
        <td>
            {% if reclamation.file is defined and reclamation.file %}
                <a href="{{ asset('uploads/files/' ~ reclamation.file) }}" target="_blank">
                    <button type="button" class="btn btn-warning">{{ reclamation.file }}</button>
                </a>
            {% else %}
                Aucun fichier
            {% endif %}
        </td>

           <td>
  {% if reclamation.statut == 'En cours' %}
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  {% else %}
    {{ reclamation.statut }}
  {% endif %}
</td>
      
        <td>
            <button class="btn btn-primary" onclick="{% if reclamation.statut == 'En cours' %}
                    alert('Vous ne pouvez pas modifier une réclamation en cours.');
                {% else %}
                    window.location.href='{{ path('reclamation_edit', {'id': reclamation.id}) }}'
                {% endif %}">
                Modifier
            </button>
              </br>
               </br>
            <a href="{{ path('reclamation_delete', {'id': reclamation.id}) }}" class="btn btn-primary" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réclamation ?')">Supprimer</a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

             </div>
      </div>
    
</div>
</div>

   
    <a class="btn btn-primary" href="{{ path('reclamation_new') }}"role="button">Créer une nouvelle réclamation</a>



{% endblock %}
          