<div class="col-md-12">
	{{form_label(form.prenom, "Name", {'attr': {'class': 'form-label'}}) }}
	{{form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="col-12">

	{{form_label(form.nom, "Last Name", {'attr': {'class': 'form-label'}}) }}
	{{form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="col-12">
	{{form_label(form.email, "Email", {'attr': {'class': 'form-label'}}) }}
	{{form_widget(form.email, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="col-12">
	{{form_label(form.plainPassword, "Password", {'attr': {'class': 'form-label'}}) }}
	{{form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="col-12">
	{{form_label(form.numtel, "Phone Number", {'attr': {'class': 'form-label'}}) }}
	{{form_widget(form.numtel, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="col-12">
	{{form_label(form.cin, "CIN", {'attr': {'class': 'form-label'}}) }}
	{{form_widget(form.cin, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="col-12">
	{{ form_label(form.datedenaissance, 'Birthdate', {'attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.datedenaissance, {'attr': {'class': 'form-control', 'type': 'date'}}) }}

</div>
{{ form_row(form._token) }}

<div class="col-12">
	<button class="btn btn-primary w-100">{{ button_label|default('Save') }}</button>
</div>
